doctype html

html(lang='en-AU')
    head
        meta(charset='UTF-8')
        meta( http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' )
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='description' content='Pricing table hover effects for more visual impact')
        meta(name='author' content='Julian Low')
        title Accent
        link( href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900' rel='stylesheet' type='text/css' )
        link(rel='stylesheet' href='dist/style.css')

    body
        .container
            .layout

                header.site-header
                    h1 Accent
                    p column hover effects for increased visual impact


                .accent-container
                    .accent
                        .accent-content
                            .product-head
                                h2.product-title Simple Hosting
                                p.product-summary
                                    | A straightforward, performant hosting plan for your site
                                    | that's so simple and functional it makes Dieter Rams cry
                                    | tears of joy.

                            .product-suitability
                                p.suitability-title Suitable For
                                p.suitable-for Small Studios, Bloggers, Content Creators, Designers, developers and little people.

                            ul.feature-list
                                li.feature-list-title Features
                                li Uber optimisation
                                li Automated core updates
                                li Free Domain

                            button.btn
                                span.btn-border-1
                                span.btn-border-2
                                | Learn More


                    .accent
                        .accent-content
                            .product-head
                                h2.product-title VPS Hosting
                                p.product-summary
                                    | We think it's a new hipster acronym for vaping but we're not sure.
                                    | Anyway, comes with or without your choice of control panel.

                            .product-suitability
                                p.suitability-title Suitable For
                                p.suitable-for E-commerce, Businesses, Resellers and Bondi Hipsters.

                            ul.feature-list
                                li.feature-list-title Features
                                li Lightning fast all SSD storage
                                li Reliable Clustered Architecture
                                li Scalable Resources

                            button.btn
                                span.btn-border-1
                                span.btn-border-2
                                | Learn More


                    .accent
                        .accent-content
                            .product-head
                                h2.product-title Cloud Hosting
                                p.product-summary
                                    | Fully managed by certified SysAdmins &amp; Cloud Architects.
                                    | Cloud hosting so good it makes Morgan Freeman proud.

                            .product-suitability
                                p.suitability-title Suitable For
                                p.suitable-for Agencies, Enterprises, Content Creators and Morgan Freeman.

                            ul.feature-list
                                li.feature-list-title Features
                                li Resource auto-scaling
                                li High Avaliability Global Hosting
                                li 40MB of storage space

                            button.btn
                                span.btn-border-1
                                span.btn-border-2
                                | Learn More


                footer.site-footer
