//TYPE
tittilium       = 'Tittilium', sans-serif
arimo           = 'Arimo', sans-serif
lato            = 'Lato', sans-serif
base-font       = tittilium
secondary-font  = arimo


//TYPE COLOUR
primary-font-colour = #5f6f81

//COLOURS
deep-purple       = #261822
purple            = #40152A
mid-purple        = #731630
bright-purple     = #CC1E2C
faded-purple      = #FF5434
peach             = #E25A77
pink              = #E25ABC
night-blue        = #7E5AE2
white             = #FFFFFF
black             = #000000
body-bg           = #261822


//BREAKPOINTS
mobile-portrait  =  320px
mobile-landscape =  480px
mobile-mid       =  550px
tablet-portrait  =  768px
tablet-landscape = 1024px
desktop          = 1200px
full-width       = 1440px
